{% load static %}
{% url 'order_details' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout Page</title>
    <link rel="stylesheet" href="{%static './Styles1.css' %}">
    <link rel="Stylesheet" href="{%static './css/bootstrap.css' %}">
    <script src="{%static './js/bootstrap.js' %}"></script>
    <script src="{%static './js/checkout.js' %}"></script>
    <link rel="Stylesheet" href="{%static './css/custom.css' %}">
    <link rel="Stylesheet" href="{%static './css/font-awesome.css' %}">
</head>

<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'landing_page' %}">
                <img src="{% static 'images/Logo.png' %}" width="140px">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> 
            {% if user.is_staff or user.is_superuser %}
            <a class="nav-link" href="{% url 'order_details' %}">View Orders</a>
            {% endif %}
        </div>
    </nav>
    <form method="POST" action="{% url 'checkout_order' %}">
        {% csrf_token %}
    <div class="checkout-container ">
        <!-- Contact Information & Shipping Address -->
        <div class="contact-info shipping-address">
            <h3>Contact Information</h3>
            <input class="cart_input" type="email" name="email" placeholder="Email" required>
            <input class="cart_input" type="tel" name="phone" placeholder="Phone No." required>
            <h3>Shipping Address</h3>
            <input class="cart_input" type="text" name="name" placeholder="Name" required>
            <input class="cart_input" type="text" name="address" placeholder="Address" required>
            <input class="cart_input" type="text" name="city" placeholder="City" required>
            <input class="cart_input" type="text" name="pincode" placeholder="Pin Code" required>
            <input class="cart_input" type="text" name="country" placeholder="Country" required>
        </div>

        <!-- Order Summary -->
        <div class="order-summary">
            <h3>Order Summary</h3>
            <table>
                <tr>
                    <td>Book</td>
                    <td><input type="text" name="book_name" value="{{ book_name }}" style="border:none; font-weight: bold; text-align: right;" readonly></td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td><input type="text" name="book_price" value="{{ book_price }}" style="border:none; font-weight: bold; text-align: right;" readonly></td>
                </tr>
                <tr>
                    <td>Quantity</td>
                    <td>
                        <input type="number" id="quantity" name="quantity" value="1" min="1" max="10"
                            onchange="updateSubtotal()">
                    </td>
                </tr>
                <tr>
                    <td>Shipping</td>
                    <td name="SAH">₹ 50</td>
                </tr>
                <tr>
                    <td>Sub Total</td>
                    <td id="subtotal1"><input type="text" name="subtotal" readonly style="border:none; font-weight: bold;">---</td>                
                </tr>
            </table>
            <br><br>
            <h3>Payment Method</h3>
            <input type="radio" name="COD" required style="margin-right: 10px; margin-top: 15px;" checked disabled>Cash On Delivery<br>
        </div>
        <button type="submit" class="btn btn-secondary btn-lg">Proceed</button>
    </div>
    </form> 
    <br><br>
    <script>
        function updateSubtotal() {
            var quantity = document.getElementById('quantity').value;
            var bookPrice = parseFloat('{{ book_price }}');
            var shippingCost = 50;
            var subtotal_calc = (quantity * bookPrice) + shippingCost;
            document.getElementById('subtotal1').innerHTML = "₹" + subtotal_calc.toFixed(2);
        }
    </script>

</body>
</html>