.navbar-brand{
    margin-right: 30px;
    padding-bottom: 11px;
}

.nav-link{
    font-weight: 600;
    margin-right: 30px;
    padding: 5px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.nav-link:hover{
    background-color: rgb(216, 213, 213);
}

.nav-link:active{
    background-color: rgb(145, 145, 145);
}
.explore-button:hover{
    opacity: 0.8;
}

.explore-button:active{
    opacity:0.4;
}

.shopping-cart-btn{
    margin-right: 15px;
    padding-left: 8px;
    padding-right: 10px;
    border-radius: 30px;
    border: none;
    background-color: rgb(245, 244, 244);
}

.shopping-cart-btn:hover{
    background-color: rgb(216, 213, 213);
}

.shopping-cart-btn:active{
    background-color: rgb(145, 145, 145);
}
.overlay{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: Arial;
    text-align: center;
    margin-top: -360px;
    position: relative;
    z-index: 100;
}
.explore-button{
    background-color: rgb(97, 97, 97);
color: aliceblue;
border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 8px;
    transition: opacity 0.15s;
}
.school-image{
    margin-left: -100px;
    margin-top: 50px;
    margin-bottom: 50px;;
}
.section1{
    background-color: rgb(235, 235, 235);
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    height: 65px;
    border: solid gray;
}
.exam-image{
    margin-left: -100px;
    margin-top: 50px;
    margin-bottom: 50px;;
}
#row1 {
    margin:6px 0px;
}
.card-title{
    margin:6px 0px;
}
.col{
    margin: 50px;
    background-color: rgb(245, 245, 245);
    padding: 20px 30px;
    border-radius: 10px;
}
a
{
    text-decoration: none;
}
#signin{
    margin-left: 15px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px;
    background-color: rgb(245, 244, 244);
}
#signin:hover{
    background-color: rgb(216, 213, 213);
}
#signin:active{
    background-color: rgb(145, 145, 145);
}
.page-nav-color{
    color:gray;
}